<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tábla</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Név</th>
                    <th scope="col">Életkor</th>
                    <th scope="col">Fajta</th>
                    <th scope="col">Szín</th>
                    <th scope="col">Neme</th>
                    <th scope="col">Oltás</th>
                    <th scope="col">Chipszám</th>
                    <th scope="col">Bekerülés ideje</th>
                    <th scope="col">Kutya</th>
                    <th scope="col">Macska</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">ID</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let allat of allatok">
                    <th scope="row">{{ allat.nev}}</th>
                    <td scope="row">{{ allat.eletkor}}</td>

                    <td scope="row">{{ allat.fajta}}</td>
                    <td scope="row">{{ allat.szin}}</td>
                    <td scope="row">{{ allat.nem}}</td>
                    <td scope="row">{{ allat.oltas}}</td>
                    <td scope="row">{{ allat.chipszam}}</td>
                    <td scope="row">{{ allat.bekerlesideje}}</td>
                    <!--Itt az x helyén a karakter jelöli kutya vagy macska-->
                    <td scope="row" *ngIf="allat.kutyamacska == 'k'; else masik">x</td><ng-template #masik><td scope="row"></td></ng-template>
                    <td scope="row" *ngIf="allat.kutyamacska == 'm'; else masik2">x</td><ng-template #masik2><td scope="row"></td></ng-template>
                    <td scope="row"><button class="btn btn-secondary">Módosítás</button></td>
                    <td scope="row"><button class="btn btn-danger" (click)="deleteAnimal(allat.id)">Törlés</button></td>
                    <td scope="row">{{ allat.id}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>
