<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tábla</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Név</th>
                    <th scope="col">Életkor</th>
                    <th scope="col">Fajta</th>
                    <th scope="col">Szín</th>
                    <th scope="col">Neme</th>
                    <th scope="col">Oltás</th>
                    <th scope="col">Chipszám</th>
                    <th scope="col">Bekerülés ideje</th>
                    <th scope="col">Kutya</th>
                    <th scope="col">Macska</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>