<!--Az egerke komponens a főoldal. Azért ez a neve, mert nem engedtetek gondolkodni rajta.-->
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szopja tokle</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">Név<input type="text"></div>
        <div class="row">Életkor<input type="number"></div>
        <div class="row">Fajta<input type="text"></div>
        <div class="row">Szín<input type="text"></div>
        <div class="row">Hím<input type="radio" name="name" value="m">Nőstény<input type="radio" name="name" value="f"></div>
        <div class="row">Oltás
            <select id="oltas">
                <option value="o1" onclick="Oltas('o1')">oltas1</option>
                <option value="o2" onclick="Oltas('o2')">oltas2</option>
                <option value="o3" onclick="Oltas('o3')">oltas3</option>
            </select>
        </div>
        <div class="row" id="box"></div>
        <div class="Chipszám">Szín<input type="text"></div>
        <div class="Bererülés ideje">Szín<input type="date"></div>
        <div class="row">Kutya<input type="radio" name="faj" value="k">Macska<input type="radio" name="faj" value="m"></div>
    </div>
</body>
</html>
<script src="../../main.js"></script>